@media screen and (max-width: 700px) {
  .flex-between {
    gap: 6px;
    justify-content: center;
    align-items: center;
  }

  .spacing-top-30 {
    margin-top: 15px;
  }

  main {
    flex: 1;
  }

  main .wrapper {
    max-width: 1000px;
    margin: auto;
  }
  main #output {
    margin: 15px 0;
    padding-left: 15px;
  }

  main #output #output-sentence {
    font-size: 18px;
  }

  main #input,
  main #timer .text {
    padding-left: 24px;
    font-size: inherit;
  }

  main #info {
    margin-top: 15px;
    padding-left: 15px;
  }

  main #info .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  main #info .wrapper .wrap:first-child .text {
    font-size: inherit;
  }

  main #info .wrapper .wrap .text {
    font-size: inherit;
  }

  header,
  footer,
  main {
    padding: 30px;
  }

  header,
  footer {
    text-align: center;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .text,
  a,
  div {
    font-size: 14px;
  }

  body {
    gap: 0;
  }

  main #info .wrapper .wrap:first-child {
    padding: 15px 0;
  }
}
